ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 50px;
    
  }

  body{
    background-image: linear-gradient( green, white,red);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
  }

  #zold{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: green;
}

#feher{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#piros{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: red;
}

h2{
    font-weight: bold;
    margin-bottom: 50px;
    
}

.szoveg{
    color:black;
}

.mySlides {
  display:none;
}


body, html {
  height:max-content;
}

footer{
  text-align: center;
  margin-top: 200px;
  color: white;
}

h2{
  text-align: center;
}

.szovegkult{
  text-align: center;
}

.dobozdiv{
  box-shadow: 5px 5px 5px;
  margin: 15px;
  border: 1px solid black;
  padding: 5px;
}


